
<div class= 'styled-form'>
<div class="page-header">
  <h4><%=t '.title', :default => 'Search' %></h4>
</div>
<%= form_for :movie , :url => movies_url, :html => {:method => :get} do |f| %>
  <%= f.label :id, "ID", :class => "info-box-label" %><%= f.text_field :id %><div class="clear"></div>
  <%= f.label :name %><%= f.text_field :name %><div class="clear"></div>
  <%= f.label :language %><%= f.select :language, Movie.languages,{:include_blank => "Select"}, :class => 'text_field' %><div class="clear"></div>
  <%= f.label :actor %><%= f.select :actor_id, Actor.find(:all, :order => "name ASC").collect {|a| [a.name, a.id]},{:include_blank=>"Please Select"}, :class => 'number_field' %><div class="clear"></div>
  <%= f.label :release_date %><%= f.text_field :release_date, :class => 'short-box-input-one', :id=>'release_date'%>
  <%= image_tag("cal-icon.png", :class => "calendar-icon", :id => 'release_date_trigger') %>
  <div class="clear"></div>
  

  <%= submit_tag("Filter") %>
<% end %>

</div>

<div class="clear"></div>
<%- model_class = Movie -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= link_to "#{model_class.human_attribute_name(:id)}", sort_link("id") %></th>
      <th><%= link_to "#{model_class.human_attribute_name(:name)}",  sort_link("name") %></th>
      <th><%= link_to "#{model_class.human_attribute_name(:language)}",  sort_link("language")  %></th>
      <th><%= link_to "#{model_class.human_attribute_name(:release_date)}",  sort_link("release_date")  %></th>
      <th><%= link_to "#{model_class.human_attribute_name(:actor_id)}",  sort_link("actor_id")  %></th>
      <th><%= link_to "#{model_class.human_attribute_name(:created_at)}",  sort_link("created_at")  %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.id, movie_path(movie) %></td>
        <td><%= movie.name %></td>
        <td><%= movie.language %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.actor.andand.name %></td>
        <td><%=l movie.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_movie_path(movie), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      movie_path(movie),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @movies %>
<%#= will_paginate(@movies, :renderer => WillPaginate::ActionView::LinkRenderer) %>
<%= link_to t('Add new'),
            new_movie_path,
            :class => 'btn btn-primary' %>
<script type="text/javascript">
     Calendar.setup(
       {
         inputField  : "release_date",         // ID of the input field
         ifFormat    : "%Y-%m-%d",    // the date format
         button: 'release_date_trigger'
       }
     );
</script>