<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <a class="brand" href="/"><%= image_tag "navigationlogo.png", :size=>"24x21", :alt=>"Home"%></a>
      </ul>
    
    <span class='search_box'>
      <%#= render :partial => 'shared/search_box'%>
    </span>

    <span style='float: right; padding-top: 10px; color: burlyWood;'>

      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
  	</span>

    </div>


  </div>

</div>


